@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

/*
 * Top level navigation
 */

.nav {
    color: white !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7371FC;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2em;
    width: 50%;
    padding: 0;
    margin: 0;
}

.nav-item {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.nav-title {
    font-weight: 600;
    font-size: 2.5em;
    margin: 0.25em;
    display: inline-block;
}

.nav a {
    display: inline-block;
    padding: 1em 1.5em;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 600;
    transition-duration: 300ms;
}

.nav a:hover {
    transform: translateY(-5%);
    color: #ebebf2;
}

.hamburger{
    display: none;
}



.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background:-webkit-linear-gradient(rgba(29, 38, 113, 0.6), rgba(0, 0, 0, 0.4)), url("../public/images/heros/hero-image_2.jpg");
    background:linear-gradient(rgba(29, 38, 113, 0.6), rgba(0, 0, 0, 0.4)), url("../public/images/heros/hero-image_2.jpg");
    background-position: center;
    ;
}

.hero-inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero-title {
    color: #fff;
    font-weight: 600;
    font-size: 36px;
}

.hero-tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F5EFFF;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 3em 12em;
}

.main-content-title{
    text-align: center;
}

.main-content-title h1{
    font-size: 30px;
    font-weight: 600;
}

.main-content-title p{
    font-size: 16px;
    font-weight: 500;
}

.card-container{
    display: grid;
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.card{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #E5D9F2;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:last-child{
    justify-self: center;
}

.card-image{
    width: 100%;
    height: 300px;
}

.card-content{
    height: 100%;
    padding: 16px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-title{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

.card-description{
    font-size: 14px;
    text-align: center;
}

.card-rating{
    margin-top: 10px;
    padding: 11px 44px;
    border-radius: 15px;
    background-color: #7371FC;
    justify-self: flex-end;
}

.card-rating p {
    color: white;
    font-weight: 800;
}

footer{
    text-align: center;
    background-color: #7371FC;
    padding: 10px 0px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width:1220px){
    .container{
        margin: 3em 5em;
    }
}

@media screen and (max-width:850px){
    .container{
        margin: 3em 8em;
    }

    .card-container{
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 632px) {
    .nav{
        justify-content: space-between;
    }

    .on-click {
        -webkit-transform: translate(0px, 50px) !important;
        transform: translate(0px, 50px) !important;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        background-color: #7371FC;
        width: 100%;
        position: absolute;

        -webkit-transform: translate(-800px, 50px);
        transform: translate(-800px, 50px);
        transition: transform 0.8s ease;
    }

    .nav-item {
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        line-height: 24px;
        text-transform: uppercase;
    }

    .nav-title{
        margin-left: 5%;
    }

    .line{
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 5px;
    }

    .hamburger{
        display: inline;
        background-color: #7371FC;
        justify-self: flex-end;
        cursor: pointer;
        z-index: 10;
        margin-right: 5%;
    }
}

@media screen and (max-width: 455px) {
    .hero-title{
        font-size: 24px;
    }

    .hero-tagline {
        margin: 16px 10px 0 10px;
        font-size: 16px;
        font-weight: 500;
    }
}
